@using Mezhintekhkom.Site.ViewModels;
@model EventJoinViewModel
@{
    ViewBag.Title = "Мероприятия";
}
<div class="content-container">
    @await Html.PartialAsync("NavigationPartial")
    <h3>Все мероприятия</h3>
    <div class="events">
        <div class="event-3">
            <img src="~/images/25.png">
            <div class="content">
                <p>День открытых дверей</p>
                Приглашаем всех желающих на бесплатную экскурсию
                в мир востребованных профессий и полезных навыков
            </div>
            <a class="btn-black">Записаться</a>
        </div>
        <div class="event-1">
            <p>Встреча</p>
            <div class="title">
                <img src="~/images/course.png">
                <p>Заголовок мероприятия</p>
            </div>
            <p>Краткий анонс мероприятия в нескольких предложениях. Текст, который будет заинтересовывать пользователя</p>
            <label>16 ноября</label>
        </div>
        <div class="event-1" style="background-color: #FFE38E;">
            <p>Встреча</p>
            <div class="title">
                <img src="~/images/course.png">
                <p>Заголовок мероприятия</p>
            </div>
            <p>Краткий анонс мероприятия в нескольких предложениях. Текст, который будет заинтересовывать пользователя</p>
            <label>16 ноября</label>
        </div>
        <div class="event-img">
            <img src="~/images/event.png">
            <div>
                <p>Заголовок мероприятия</p>
                <label>Краткий анонс мероприятия в нескольких предложениях. Текст, который будет заинтересовывать пользователя</label>
            </div>
        </div>
        <div class="event-2">
            <img class="img" src="~/images/Owl.png">
            <div class="info">
                <p>Вебинар</p>
                <h6>Заголовок мероприятия</h6>
                <p>Краткий анонс мероприятия в нескольких предложениях. Текст, который будет заинтересовывать пользователя</p>
                <label>16 ноября</label>
            </div>
        </div>
        <div class="event-1" style="background-color: #FFEEF6;">
            <p>Встреча</p>
            <div class="title">
                <img src="~/images/course.png">
                <p>Заголовок мероприятия</p>
            </div>
            <p>Краткий анонс мероприятия в нескольких предложениях. Текст, который будет заинтересовывать пользователя</p>
            <label>16 ноября</label>
        </div>
    </div>
</div>
<div class="event-block">
    <div class="header">
        <h1>КАЛЕНДАРЬ МЕРОПРИЯТИЙ</h1>
    </div>
    <table>
        <tr>
            <th>НАУЧНО-ПРАКТИЧЕСКИЕ И ТЕХНОЛОГИЧЕСКИЕ КОНФЕРЕНЦИИ</th>
            <th>ОБУЧАЮЩИЕ СЕМИНАРЫ</th>
            <th>Тематика мероприятий</th>
        </tr>
        <tr>
            <td>
                <div class="date">
                    <h1>05-09 ИЮНЯ 2023, ТЮМЕНЬ</h1>
                    <p>«Инновационные решения в области КРС, ПНП, ГНКТ, внутрискважинные работы и супервайзинг в горизонтальных и разветвленных скважинах. Контроль скважин. Управление скважиной при ГНВП. Противофонтанная безопасность»</p>
                </div>
            </td>
            <td>
                <div class="date">
                    <h1>05-09 ИЮНЯ 2023, ТЮМЕНЬ</h1>
                    <p>«Инновационные решения в области КРС, ПНП, ГНКТ, внутрискважинные работы и супервайзинг в горизонтальных и разветвленных скважинах. Контроль скважин. Управление скважиной при ГНВП. Противофонтанная безопасность»</p>
                </div>
            </td>
            <td>
                <div class="date">
                    <h1>05-09 ИЮНЯ 2023, ТЮМЕНЬ</h1>
                    <p>«Инновационные решения в области КРС, ПНП, ГНКТ, внутрискважинные работы и супервайзинг в горизонтальных и разветвленных скважинах. Контроль скважин. Управление скважиной при ГНВП. Противофонтанная безопасность»</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="date">
                    <h1>05-09 ИЮНЯ 2023, ТЮМЕНЬ</h1>
                    <p>«Инновационные решения в области КРС, ПНП, ГНКТ, внутрискважинные работы и супервайзинг в горизонтальных и разветвленных скважинах. Контроль скважин. Управление скважиной при ГНВП. Противофонтанная безопасность»</p>
                </div>
            </td>
            <td>
                <div class="date">
                    <h1>05-09 ИЮНЯ 2023, ТЮМЕНЬ</h1>
                    <p>«Инновационные решения в области КРС, ПНП, ГНКТ, внутрискважинные работы и супервайзинг в горизонтальных и разветвленных скважинах. Контроль скважин. Управление скважиной при ГНВП. Противофонтанная безопасность»</p>
                </div>
            </td>
        </tr>
    </table>
    <div class="event-block">
        <div class="header">
            <h1>АККРЕДИТАЦИЯ СМИ</h1>
        </div>
        <div>
            <div class="smi">
                <img src="~/images/SMI.jpg"/>
                <div class="files">
                    <h1>Заявление направлять на адрес info@mezhintekhkom.ru с темой письма «Аккредитация СМИ»</h1>
                    <a class="file" href="~/documents/Правила аккредитации в СМИ.doc">
                        <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                        <div class="info">
                            <h1 class="title">Правила аккредитации СМИ</h1>
                            <h2 class="desc">
                                Правила аккредитации журналистов и технических специалистов средств массовой информации на мероприятия
                            </h2>
                        </div>
                    </a>
                    <a class="file" href="~/documents/Заявка на аккредитацию СМИ.doc">
                        <svg class="icon icon-file"><use xlink:href="#icon-file"></use></svg>
                        <div class="info">
                            <h1 class="title">Заявление на аккредитацию СМИ</h1>
                            <h2 class="desc">
                                Заявка на разовую аккредитацию средства массовой информации
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-form">
        <button type="button" class="btn-blue" data-bs-toggle="modal" data-bs-target="#joinEvent">
            Подать заявку на участие в мероприятии
        </button>

        <!-- Modal -->
        <div class="modal fade" id="joinEvent" tabindex="-1" aria-labelledby="joinEventLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h1 class="modal-title fs-5" id="joinEventLabel">Заявка на участие</h1>
                            <h2>Для автоматической обработки заявки, пожалуйста, заполните все поля.</h2>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <input class="form-input" asp-for="Name" placeholder="@Html.DisplayNameFor(m => m.Name)" />
                            <input class="form-input" asp-for="Inn" placeholder="@Html.DisplayNameFor(m => m.Inn)"/>
                            <input class="form-input" asp-for="Event" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Event)" />
                            <span asp-validation-for="Event" class="text-danger"></span>
                            <input class="form-input" asp-for="Role" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Role)" />
                            <span asp-validation-for="Role" class="text-danger"></span>
                            <input class="form-input" asp-for="Phone" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Phone)" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                            <input class="form-input" asp-for="Email" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <span asp-validation-for="IsAgree" class="text-danger"></span>
                            <div>
                                <input asp-for="IsAgree" aria-required="true" />
                                <label asp-for="IsAgree"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <label>К оплате: 0 руб.</label>
                            <button type="submit" class="btn-blue">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("FeedbackPartial")
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}